@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

.bluebox{
    background-color: #0050FF;
    height: 15px;
    width: 15px;
    border: none;
    outline: none;
}
.nav .gap{
    gap:10px;
}
.nav .gap p{
    font-size: 1.3rem;
    cursor: pointer;
}
.nav{
    padding:  2rem;
    position: sticky;
    top:0px;
    z-index: 5;
    background-color:white;
    
}

.nav ul{
    list-style: none;
}
.nav ul li {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    display:none;
}
.nav ul li:hover{
    color: #0050FF;
}
@media only screen and (max-width: 850px) {
    .nav .gap p {
        font-size: 1rem;
    }
    .gap h1{
        font-size: 1.3rem;
    }
}